
h1{
    color: red;
    font-size: 18px;
    font-family: 'helvetica';
}

h2{
    font-size: 19px;
    font-family: 'helvetica';
}

h3{
    font-size: 21px;
    font-family: 'helvetica';
}

p{
    color: blue;
    font-size: 14px;
    font-family: 'helvetica';
}

ul{
    list-style-type: none; /* Remove os padrões de estilo */
    margin: 0;
    padding: 10px;
    overflow: scroll; /* Especifica o que irá acontecer com o conteúdo que ultrapassar a caixa de um elemento */
    background-color: #333;
}

li{
    float: left; /* Cria uma barra de navegação horizontal */
    display: block; /* Cria um bloco em torno de toda a área de link clicável */
}

li a{
    color: white;
    font-family: "helvetica";
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; /* Remove, principalmente, os sublinhados dos links */
}

li a:hover{
    background-color: #4CAF50;
}

.jornal{
    -webkit-column-count: 3; /* Chrome, Safari e Opera*/
    -moz-column-count:3; /* Firefox*/
    column-count: 3;
    
    -webkit-column-rule: 1px solid #4CAF50
}


   